<ng-container *ngIf="!mobile">
    <app-player *ngFor="let player of game.players; let i = index" [ngStyle]="{'top.px': 100 + (i * 90)}"
        [playerAtive]="i == game.currentPlayer" [name]="player" class="player_position"></app-player>
</ng-container>

<ng-container *ngIf="mobile">
<app-player-mobile *ngFor="let player of game.players; let i = index" [ngStyle]="{'top.px': 100 + (i * 60)}"
    [playerAtive]="i == game.currentPlayer" [name]="player" class="player_position"></app-player-mobile>
</ng-container>

<div class="game_field">
    <div class="card_stack" *ngIf="game.gameCanStart">
        <!-- Card stack -->
        <img *ngFor="let c of [0,1,2,3,4]; let i = index;" [ngStyle]="{'right.px': i * 10}"
            src="./../../assets/img/cards/card_cover.png" alt="">
        <img (click)="takeCard()" class="top_card" style="right: 50px;" src="./../../assets/img/cards/card_cover.png"
            alt="">

        <!-- Stack for played cards-->
        <img *ngFor="let card of game.playedCard" class="played_card" src="./assets/img/cards/{{ card }}.png" alt="">
        <!-- Current card (Animation) -->
        <img (click)="takeCard()" *ngIf="game.pickCardAnimation" class="pick_card" style="right: 50px;"
            src="./../../assets/img/cards/{{ game.currentCard }}.png" alt="">
    </div>

    <div *ngIf="!game.gameCanStart" class="start_condition">
        Create at least 2 players.
    </div>
</div>



<app-game-info [card]="game.currentCard" class="pin_bottom"></app-game-info>

<button mat-fab color="primary" class="button_add" (click)="openDialog()">
    <mat-icon>add</mat-icon>
</button>