.player {
    display: flex;
    align-items: center;
    background-color: rgba(50, 50, 50, .8);
    width: 300px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        height: 70px;
        width: 70px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player_active {
    background-color: orange !important;
}

@media (max-width: 550px){
    .player {
        width: 200px;
    
        span {
            font-size: 22px;
        }
    
        img {
            height: 50px;
            width: 50px;
        }
    }
}

@media (max-width: 390px) {
    .player {
        width: 150px;
    
        span {
            font-size: 14px;
            margin-left: 7px;
        }
    
        img {
            height: 40px;
            width: 40px;
        }
    }
}